// 客製化手風琴樣式
.accordion-button {
    border: 1px solid #E5E5E5;
    border-radius: 4px;
}

.accordion-item {
    border: 1 solid rgba(0, 0, 0, 0.125);
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba($primary, .25);
    border-color: rgba($primary, .25);
}

.accordion-button:not(.collapsed) {
    color: $gray-850;
    background-color: rgba($primary, 0);
    .accordion-item {
        border-color: rgba($primary, .25);
    }
}