body {
    background: #F8F9FA;
}

ul {
    list-style-type: none;
}

.mt-0 {
    margin-top: 0 ;
}
  
.ms-1 {
    margin-left: ($spacer * .25) 
}
  
.px-2 {
    padding-left: ($spacer * .5) ;
    padding-right: ($spacer * .5) ;
}
  
.p-3 {
    padding: $spacer !important;
}

.mr-8 {
    margin-right: ($spacer * 3);
}

.mr-3 {
    margin-right: $spacer;
}

.mr-1 {
    margin-right: $spacer * .5;
}

.border-primary {
    border-color: #FFDF65 !important;
}

.text-garyDark {
    color:#858377;
}

.bg-grayLight {
    background-color: #E8E8DB;
}

.bg-grayDark {
    background: #494846;
}

.badge span {
    color: $primary;
}

.scroller {
    overflow-y: scroll;
    scrollbar-width: thin;
    padding: 8px 16px;
    background: #F8F9FA;
  }

 