body {
    background: #F8F9FA;
    color: $gray-850;
}

ul {
    list-style-type: none;
}

.mt-0 {
    margin-top: 0 ;
}

.mt-4 {
    margin-top: ($spacer * 2) ;//32px
}
  
.ms-1 {
    margin-left: ($spacer * .25) ;
}
  
.px-2 {
    padding-left: ($spacer * .5) ;
    padding-right: ($spacer * .5) ;
}
  
.p-3 {
    padding: $spacer !important;
}

.mr-8 {
    margin-right: ($spacer * 3);
}

.mr-2 {
    margin-right: ($spacer * .5);
}

.mr-3 {
    margin-right: $spacer;
}

.mr-1 {
    margin-right: $spacer * .5;
}

.border-primary {
    border-color: #FFDF65 !important;
}

.text-garyDark {
    color:#858377;
}

.bg-grayLight {
    background-color: #E8E8DB;
}

.bg-grayDark {
    background: #494846;
}

.badge span {
    color: $primary;
}

.badge {
    &__question {
        padding: 8px;
        background-color: $primary;
        color: $gray-650;
    }
}

.scroller {
    overflow-y: scroll;
    scrollbar-width: thin;
    padding: 8px 16px;
    background: #F8F9FA;
  }

.text-primary {
    color: $primary!important;
}
 
.number-family {
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: bold;
    color: $gray-850;
}

.btn {
    color: $gray-650;
}