.message {
    &__alert {
        font-size: 14px;
        color: $gray-850;
        letter-spacing: 0.7px;
        a {
            text-decoration: none;
            color: $secondary;
            transition: all .3s;
        }

        a:hover {
            color: darken($secondary, 20%);
        }
    }

    &__card__title {
        margin-bottom: 0;
    }

    &__card__small {
        letter-spacing: 2px;
    }

    &__card__text {
        color: $gray-550;
        font-weight: 600;
        letter-spacing: 0.7px;
    }

    &__card__respont {
        color: $secondary;
        font-weight: 600;
        letter-spacing: 0.7px;
        font-size: 14px;
    }
}
