.cuForm {
    &__label {
        font-weight: 600;
    }
}

.form-select,
.form-control {
    color: $gray-550;
    font-weight: 600;
    padding: 12px;
}

.form-select:focus,
.form-control:focus {
    border-color: lighten($primary, 60%);
    box-shadow: 0 0 0 0.25rem rgba($primary , 65%);
}