// 圖片取代文字
.nav h1 a {
    background-image: url(../img/logo.jpg);
    width: 111px;
    height: 40px;
    background-size: contain;
    display: block;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 16px;
}

.nav-link {
    color: $gray-650;
    font-weight: $font-weight-normal;
}

nav {
    border-bottom: 5px solid $primary;
}

// 漢堡選單客製化設計
@media (max-width: 992px) {
    .navbar-light .navbar-nav .nav-link {
        text-align: center;
    }
    .cu-nav {
        background-color: #fff0b3;
        width: 100%;
    }
}

