.product {
  &__text {
    color: $gray-850;
    letter-spacing: 0;
    text-align: justify;
    line-height: 32px;
		margin-top: 5px;
  }
	&__title {
		border-left: 4px solid $primary;
		padding-left: 15px;
	}
	&__line {
		height: 3px;
		width: 40%;
		color: $primary;
		background-color: $primary;
	}
	&__heart {
		width: 100%;
		display:flex;
		justify-content: center;
		margin-bottom:4px;
	}
	&__submit {
		padding: 12px 48px;
	}
	&__submitBox {
		text-align: center;
		margin-top: 24px;
	}
	&__label {
		font-size: 1rem;
		color:$gray-550;
	}
	
}
